<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  
  <!-- <label>
    First Name:
    <input type="text" formControlName="firstName">
  </label>

  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label> -->

  <label>
    Username:
    <input type="text" formControlName="username" >
  </label>

  <label>
    Password:
    <input type="text" formControlName="password" >
  </label>
  <label>
    Type:
    <input type="text" formControlName="type" >
  </label>

  
  <!-- <h3>Address</h3>

  <label>
    Street:
    <input type="text" formControlName="street">
  </label>

  <label>
    City:
    <input type="text" formControlName="city">
  </label>
  
  <label>
    State:
    <input type="text" formControlName="state">
  </label>

  <label>
    Zip Code:
    <input type="text" formControlName="zip">
  </label> -->

  
    <button type="submit" >Submit</button>

</form>
